#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
  height: 100vh;
  position: relative;

  .google-main {
    margin-bottom: 2rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .stack {
    justify-content: center;

    .search-btn {
      text-transform: capitalize;
    }
  }

  .search-bar {
    border: 1px solid rgba(232, 234, 237, 0.3);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem;
    width: 50%;
    border-radius: 8px;
    margin-inline: auto;

    &:hover {
      background-color: hsl(220, 3%, 17%);
    }

    &:focus-within {
      border-color: rgba(232, 234, 237, 0.7);
      box-shadow: 1px 1px 5px black;
    }

    .search-icon {
      color: rgba(232, 234, 237, 0.6);
    }

    .q-search {
      outline: none;
      border: none;
      background-color: transparent;
      padding: 0.7rem 0;
      flex: 1;
      font-size: 1rem;
    }

    .google-mic-icon,
    .google-camera-icon {
      cursor: pointer;
      padding: 0.3rem;
      border-radius: 50%;

      &:hover {
        background-color: rgb(54, 55, 56);
      }
    }
  }
}

.footer {
  background-color: hsl(0, 0%, 9%);
  color: #bdc1c6;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  width: 100%;

  h6 {
    font-size: 1rem;
    text-align: left;
    padding: 0 2rem;
  }

  hr {
    display: block;
    background: rebeccapurple;
    margin-bottom: 1rem !important;
  }

  p {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-nav-info {
    margin: 0 2rem;
  }
}
